@page "/participants"
@using CitrsLite.Business.Enums;
@using CitrsLite.Business.Services;
@using CitrsLite.Business.ViewModels.ParticipantViewModels;
@using CitrsLite.Data.Models;
@inject ParticipantIndexViewModel Model;
@inject ParticipantService ParticipantService;
@inject IJSRuntime JS;

<div class="justify-center d-flex flex-wrap">
    <MudContainer MaxWidth="MaxWidth.Small" Class="ma-3">
        <EditForm Model="Model" OnValidSubmit="getParticipants">
            <MudCard Elevation="3">
                <MudCardHeader>
                    <MudText Typo="Typo.h3">Participant Search</MudText>
                </MudCardHeader>
                <MudCardContent>

                    <MudTextField Label="Name" @bind-Value="Model.Name" Variant="Variant.Filled" />
                    <MudSelect Label="Type"
                               T="string"
                               @bind-Value="Model.Type"
                               Placeholder="Any"
                               Variant="Variant.Filled"
                               Clearable>
                        @foreach (var partType in Enum.GetValues(typeof(ParticipantType)))
                        {
                            <MudSelectItem Value="@partType!.ToString()!.Replace("_", " ")" />
                        }
                    </MudSelect>
                    <MudTextField Label="Phone" @bind-Value="Model.Phone" Variant="Variant.Filled" />
                    <MudTextField Label="City" @bind-Value="Model.City" Variant="Variant.Filled" />

                </MudCardContent>
                <MudCardActions Class="gap-3">
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"           
                               EndIcon="@Icons.Material.Filled.Search"
                               Color="Color.Primary">
                        Search
                    </MudButton>
                    <MudButton ButtonType="ButtonType.Button"
                               Variant="Variant.Filled"
                               Color="Color.Secondary"
                               EndIcon="@Icons.Material.Filled.Clear"
                               OnClick="reset">
                        Reset
                    </MudButton>
                    <MudButton ButtonType="ButtonType.Button"
                               Variant="Variant.Filled"
                               Color="Color.Info"                               
                               OnClick="getExcel">
                        Excel
                    </MudButton>                            
                </MudCardActions>
            </MudCard>
        </EditForm>        
        @if (participantsLoading)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
        @if (participants != null)
        {            
            <div class="my-2">
                <Chart Labels="labels" Data="chartData"></Chart>
            </div>
                
            
        }
    </MudContainer>
    <MudContainer MaxWidth="MaxWidth.Medium" Class="ma-3">                            
        <ParticipantTable Participants="participants" Loading="@tableLoading" />
    </MudContainer>
    
    
</div>

