@page "/participant/add"
@using CitrsLite.Business.ViewModels.ParticipantViewModels
@inject ParticipantFormViewModel model
@using CitrsLite.Business.Enums

<h2>Participant Form</h2>

<EditForm Model=@model>
    <label>
        <h4>Name</h4>
        <InputText @bind-Value=model.Name></InputText>
    </label>
    <label>
        <h4>Type</h4>
        <InputSelect Name="type" @bind-Value=model.Type>
            @foreach(var partType in Enum.GetValues(typeof(ParticipantType)))
            {
                <option Value="@partType">@partType.ToString().Replace("_", " ")</option>
            }
        </InputSelect>
    </label>
    <p></p>
    <label>
        <h4>Description</h4>
        <InputTextArea @bind-Value=model.Description></InputTextArea>
    </label>
    <p></p>
    <label>
        <h4>Phone Number</h4>
        <InputText @bind-Value=model.PhoneNumber></InputText>
    </label>
    <p></p>
    <label>
        <h4>Address</h4>
        <InputText @bind-Value=model.Address></InputText>
    </label>    
    <p></p>
    <label>
        <h4>City</h4>
        <InputText @bind-Value=model.City></InputText>
    </label>    
    <p></p>
    <label>
        <h4>State</h4>
        <InputText @bind-Value=model.State></InputText>
    </label>    
    <p></p>
    <label>
        <h4>Active?</h4>
        <InputCheckbox @bind-Value="@model.IsActive"></InputCheckbox>
    </label>
    <p></p>
    <input type="submit" class="btn btn-primary" value="Save"/>
    <p></p>
    <div>@Message</div>
</EditForm>

@code {
    private String Message = String.Empty;
    
}
