@page "/participant/add"
@using CitrsLite.Business.ViewModels.ParticipantViewModels
@using CitrsLite.Business.Enums
@using Microsoft.AspNetCore.Components.Authorization
@inject CitrsLite.Business.Services.ParticipantService participantService
@inject AuthenticationStateProvider authenticationStateProvider

<h2>Participant Form</h2>
<EditForm Model=@Model OnSubmit="@CreateParticipant">
    <ValidationSummary></ValidationSummary>
    <DataAnnotationsValidator />
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" md="6" xl="4">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" @bind-Value="Model.Name" Required="true" For="(() => Model.Name)" />
                    <MudSelect T="string" Label="Participant Type" @bind-Value="Model.Type" Required="true">
                        @foreach (var partType in Enum.GetValues(typeof(ParticipantType)))
                        {
                            <MudSelectItem Value="@partType.ToString().Replace("_", " ")" />
                        }
                    </MudSelect>
                    <MudTextField Label="Description" @bind-Value="Model.Description" Lines="5" />
                    <MudTextField Label="Phone" 
                        @bind-Value="Model.PhoneNumber" 
                        InputType="InputType.Telephone"
                        Required="true"
                        For="(() => Model.PhoneNumber)" />
                    <MudTextField Label="Street Address" @bind-Value="Model.Address" Required="true" />
                    <MudTextField Label="City" @bind-Value="Model.City" Required="true" />
                    <MudTextField Label="State" @bind-Value="Model.State" Required="true" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Success">
                                
                        Save
                    </MudButton>                    
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {

    private String Message = String.Empty;    

    public void CreateParticipant(EditContext context)
    {
        var valid = context.Validate();

        if (valid)
        {
            participantService.Create(Model);
        }
        else
        {
            Message = "Error"; 
        }

    }    


    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();

        Model.UserName = authState.User.Identity?.Name ?? "Unknown user";
    }

    [Inject]
    public ParticipantFormViewModel Model { get; set; }

}
