@page "/varietyClone/add"
@using CitrsLite.Business.ViewModels.VarietyCloneViewModels
@inject VarietyCloneFormViewModel model
@using CitrsLite.Business.Enums


<HeadContent>
    <h3>Variety Clone Form</h3>
</HeadContent>

@code {

}
