@page "/varietyClone/add"
@using CitrsLite.Business.ViewModels.VarietyCloneViewModels
@inject VarietyCloneFormViewModel model
@using CitrsLite.Business.Enums


<EditForm Model=@model>
    <div class="card m-2">
        <div class="bg-warning bg-opacity-60">
            <h3 class="card-header p-2 m-1" style="font-weight: bold;">Variety Clone Form</h3>
        </div>

        <div class="card-body">
            <label>
                <h4><strong>Name</strong></h4>
                <InputText @bind-Value=model.Name></InputText>
            </label>
            <p></p>
    
            <label>
                <h4><strong>Description</strong></h4>
                <InputTextArea @bind-Value=model.Description style="width: 500px; height: 150px;"></InputTextArea>
            </label>
            <p></p>

            <div class="row">
                <div class="col-12 row-cols-1">
                    <h4><strong>Status:</strong></h4>
                    <p><InputCheckbox @bind-Value=model.IsActive></InputCheckbox> Active</p>
                    <p><InputCheckbox @bind-Value=model.IsActive></InputCheckbox> Inactive</p>
                </div>
            </div>
        </div>
    </div>
    
    <hr />    
    
    <input type="submit" class="btn btn-primary" value="Save"/>
    <p></p>
    <div>@Message</div>
</EditForm>


@code {
    private String Message = String.Empty;
}
