@page "/counter"
@using CitrsLite.Business.Repositories;
@using CitrsLite.Data.Models;
@inject IUnitOfWork Data;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

@foreach(TreeType treeType in TreeTypes)
{
    <p>@treeType.Name</p>
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {
    private int currentCount = 0;

    public IEnumerable<TreeType> TreeTypes { get; set; } = new List<TreeType>();

    private void IncrementCount()
    {

        currentCount++;

        TreeTypes = Data.TreeTypes.GetList();
    }

    
}
